POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase
DB_WRITE_URL=jdbc:postgresql://pgbouncer:6432/mydatabase?prepareThreshold=0
DB_READ_1_URL=jdbc:postgresql://postgres-replica1:5432/mydatabase?prepareThreshold=0
DB_READ_2_URL=jdbc:postgresql://postgres-replica2:5432/mydatabase?prepareThreshold=0
REPLICATOR_PASS=replicator_pass
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin